.data-map {
    fill: none;
    stroke: #555555;
    stroke-width: 0.5px;
}

.data-map rect {
    fill: green;
}

.positive {
	fill: #11305E;
}

.negative {
	fill: #A70326;
}

.white {
	fill: white;
}

.info {
	margin-bottom: 20px;
}

#topicSelect {
	padding-bottom: 25px;
}

.state:hover{
	fill-opacity:0.7;
}

/*tooltip */

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 200px;
    height: 60px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h4 {
	margin-bottom: 4px;
	margin-top: 5px;
}

.label {
	font-size: 8px;
}

.badge-pill {
	padding: 0.5em 1em;
}